# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# SQLite database
*.sqlite3
instance/
*.db

# Flask environment / config files
*.env
*.log
*.pot
*.pyc

# VS Code settings
.vscode/

# macOS
.DS_Store

# PyCharm
.idea/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
